@model Estamparia.MVC.Models.Categoria

@{
    ViewBag.Title = "Criar";
    Layout = "~/Views/Shared/_LayoutZurb.cshtml";
}


@using (Html.BeginForm("Criar", "Categorias", FormMethod.Post, new { novalidate="", data_abide="" })) 
{
	@Html.ValidationSummary(false)

	<div class="grid-x grid-padding-x">
		<div class="cell">
			<h1 class="fw-900">Criar</h1>
			<h4>Categoria</h4>
			<hr />
        </div>
		
        <div class="cell large-6 medium-8 small-10">
			@Html.Partial("_CriarOuEditar", Model)
        </div>
		<div class="cell">
			<br />
            <p>
                <input class="button primary" type="submit" value="Criar" /> |
                @Html.ActionLink("Voltar para Listagem", "Indice", null, new { @class = "button secondary" })
            </p>
        </div>
	</div>
}

