@model Estamparia.MVC.Models.Categoria

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="control-group required">
	@Html.LabelFor(model => model.Nome)
	<div class="control">
		@Html.TextBoxFor(model => model.Nome, new { data_rules = "required" })
	</div>
</div>

