@model IEnumerable<Lojinha.MVC.Models.CompraFornecedorProduto>

<div class="form-group">
    <a class="btn btn-default btn-sm" id="adicionar-novo-produto">
        Adicionar Novo Produto
    </a>
    <script type="text/javascript">
        $("#adicionar-novo-produto").click(function () {
            $.get('/ComprasFornecedores/NovaLinhaProduto', { idFornecedor: $("#FornecedorId").val() }, function (template) {
                $("#area-produtos").append(template);
            });
        });
    </script>
</div>

<div id="area-produtos">
    @if (Model != null)
    {
        foreach (var produto in Model)
        {
            @Html.Partial("_LinhaProduto", produto);
        }
    }
</div>