@model Estamparia.MVC.Models.Estampa

@{
    ViewBag.Title = "Detalhes";
}

<div class="ink-grid">
    <h1 class="fw-700">Detalhes</h1>

    <h4>Estampa</h4>
    <hr />
    <dl>
        <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd>@Html.DisplayFor(model => model.Nome)</dd>
    </dl>
    <p>
        @Html.ActionLink("Editar", "Editar", new { id = Model.EstampaId }) |
        @Html.ActionLink("Voltar para Listagem", "Indice")
    </p>
</div>




