@model Estamparia.MVC.Models.Estampa

@{
    ViewBag.Title = "Detalhes";
}

<h1 class="display-4 mt-3">Detalhes</h1>

<div>
	<h4 class="mt-3">Estampa</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2 text-right">@Html.DisplayNameFor(model => model.Nome)</dt>
		<dd class="col-sm-10">@Html.DisplayFor(model => model.Nome)</dd>
	</dl>
	<p>
		@Html.ActionLink("Editar", "Editar", new { id = Model.EstampaId }) |
		@Html.ActionLink("Voltar para Listagem", "Indice")
	</p>
</div>




